<%- include('../common/head'); %>
    <section class="contact_section ">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Login
                </h2>
              </div>
            <div class="row">

                <div class="col-md-6 col-lg-5 px-0">
                    <form method="post" action="/login">
                        <div>
                            <input type="email"  name="email" id="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="password" name="password" id="password"  placeholder="Password" />
                        </div>
                        <div class="d-flex ">
                            <button> Login </button>
                        </div>
                        <p>You Don't have account <a href="/register">Register </a> </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- include('../common/footer'); %>
<%- include('../common/foot'); %>