<%- include('../common/head'); %>
    <section class="contact_section ">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Login
                </h2>
              </div>
            <div class="row">

                <div class="col-md-6 col-lg-5 px-0">
                    <form method="post" action="/register">
                        <div>
                            <label for="username"> User Name</label>
                            <input type="text"  name="username" id="username" placeholder="User Name" />
                        </div>
                        <div>
                            <label for="email"> Email</label>
                            <input type="email"  name="email" id="email" placeholder="Email" />
                        </div>
                        <div>
                            <label for="phoneno"> Phone No</label>
                            <input type="text"  name="phoneno" id="phoneno" placeholder="Phone No" />
                        </div>
                        <div>
                            <label for="password"> Password</label>
                            <input type="password"  name="password" id="password" placeholder="Password" />
                        </div>
                        
                        <div class="d-flex ">
                            <button> Register </button>
                        </div>
                        <p>Already You  have account <a href="/login">Login </a> </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- include('../common/footer'); %>
<%- include('../common/foot'); %>